.layout-sidebar {
  @include sidebar_bg_color();
  position: relative;
  height: 100%;
  transition: all 0.3s linear;

  &__footer {
    @include header_font_color();
    @include header_bg_color();
    font-size: $font_large_s;
    transition: all 0.3s linear;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  &__header {
    transition: all 0.3s linear;
    @include header_font_color();
    @include header_bg_color();
    position: absolute;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);

    .sidebar-header-title {
      font-weight: 550;
      font-size: $font_medium;
    }
  }

  &__body {
    position: absolute;
    width: 100%;
    top: 51px;
    bottom: 35px;
    overflow-y: auto;
    overflow-X: hidden;

    &::-webkit-scrollbar {
      position: absolute;
      width: 11px;
      margin-left: -10px;
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar-thumb {
      height: 50px;
      border-radius: 5px;
      background-color: #909399;
      background-clip: content-box;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 2px;
    }
  }
}

// 收起状态下侧边栏菜单的样式
.layout-sidebar--collapse {
  .el-menu-vertical {
    width: 40px !important;
    .el-tooltip {
      text-align: center;
      padding: 0 !important;
    }

    >div>.el-menu-noClidren {
      padding: 0 10px !important;
      padding: 0;
      margin-right: 0;

      span {
        display: none;
      }
    }

    .el-submenu__title {
      padding: 0 10px !important;
      @include sidebar_font_color();
      margin-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: none;
      }

      .el-submenu__icon-arrow,
      .el-icon-arrow-right {
        display: none;
      }
    }
  }
}
// 展开状态下侧边栏菜单的样式
.el-menu--popup{
  @include sidebar_bg_color();
}
.el-menu {
  .el-submenu__title {
    height: 40px;
    @include sidebar_font_color();
    line-height: 40px;

    i {
      @include sidebar_font_color();
    }

    &:hover, &:active, &:visited,&:focus {
      @include sidebar_bg_color--active()
    }
    &.is-active{
      @include sidebar_bg_color--active()
    }
  }

  .el-menu-item {
    transition: none;
    &.is-active{
      @include sidebar_bg_color--active()
    }
    &:hover, &:active, &:visited,&:focus {
      @include sidebar_bg_color--active()
    }

    i {
      @include sidebar_font_color();
    }

    @include sidebar_font_color();
    height: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    min-width: auto;
  }
  background-color: inherit;  // 解决换肤会触发el-menu的动画，导致layout-sidebar各块级元素颜色切换过渡不统一
  border: none;
}