.layout-tabbar {
  background-color: #fff;

  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #eef0f6;
    background: #eef0f6;
  }

  .el-tabs__header {
    margin: 0px;
  }
}

// 右键菜单样式
.layout-tabbar-context-menu {
  position: fixed;
  cursor: pointer;
  background: #fff;
  z-index: 999;
  box-shadow: 0px 2px 4px 2px #eeeeee;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    .layout-tabbar-context-menu__list__item {
      margin: 0;
      list-style: none;
      padding: 10px 20px;
      font-size: 14px;

      &:hover {
        background: #f4f3f3;
      }
    }
  }
}