// header样式
$temp-header-background-color:#048cff; // 头部背景色
$temp-header-hover-background-color: rgba(255, 255, 255, 0.1); // 头部导航项活动hover颜色
$temp-header-font-color:#fff;  // 头部字体颜色
$temp-header-active-font-color:#00ffd8; // 头部活动字体颜色
$temp-header-height:50px; // 头部固定高度
.temp-header {
  width: 100%;
  height: $temp-header-height;
  line-height: $temp-header-height;
  background-color: $temp-header-background-color;
  color: #fff;

  &__container {
    padding: 0 10px;
  }
}

.temp-header-menu__title {
  color: $temp-header-font-color;
}

.temp-header-menu {
  background-color: $temp-header-background-color;

  &.el-menu--horizontal {
    border-bottom: none;
  }

  .temp-header-menu__item {
    line-height: $temp-header-height;
    height: $temp-header-height;
    background-color: $temp-header-background-color;

    &:hover,
    &:focus {
      background-color: $temp-header-hover-background-color !important;
    }

    &.is-active {
      .temp-header-menu__title {
        color: $temp-header-active-font-color;
      }

      border-bottom: 2px solid $temp-header-active-font-color;
    }
  }

  .temp-header-menu__submenu {
    line-height: $temp-header-height;
    height: $temp-header-height;
    background-color: $temp-header-background-color;

    .el-submenu__title {
      line-height: $temp-header-height;
      height: $temp-header-height;

      .el-submenu__icon-arrow {
        color: #fff;
      }

      &:hover,
      &.focus {
        background-color: $temp-header-hover-background-color;
      }
    }

    &.is-active {
      .temp-header-menu__title {
        color: $temp-header-active-font-color;
      }

      .el-submenu__title {
        .el-submenu__icon-arrow {
          color: $temp-header-active-font-color;
        }

        border-bottom: 2px solid $temp-header-active-font-color;
      }
    }
  }
}

.temp-header-menu__popper {
  .el-menu {
    background-color: $temp-header-background-color;

    .el-submenu {
      .el-submenu__title {
        background-color: $temp-header-background-color;

        .el-submenu__icon-arrow {
          color: #fff;
        }

        &:hover {
          background-color: $temp-header-hover-background-color;
        }
      }
    }

    .el-menu-item {
      background-color: $temp-header-background-color;

      &:hover {
        background-color: $temp-header-hover-background-color;
      }
    }
  }
}

.temp-header-function-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: $temp-header-height;

  .function-item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .function-user {
    display: flex;
    color: #fff;
    cursor: pointer;
    height: 100%;
    align-items: center;
    justify-content: center;

    &__image {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border: 1px solid #f5f5f5;
        border-radius: 50%;
      }
    }
  }
}
