// 菜单宽度
$temp-sidebar-width: 100%;
$temp-sidebar-width--collapse: 100%;

// 菜单头部颜色
$temp-sidebar-header-background-color: #048cff;
$temp-sidebar-header-height:50px;
$temp-sidebar-header-font-color: #fff;
// 菜单底部颜色
$temp-sidebar-footer-background-color:  #048cff;
$temp-sidebar-footer-font-color: #fff;
$temp-sidebar-footer-height: 35px;

// 菜单体
$temp-sidebar-body-background-color: #1f2d3d;

.temp-sidebar-menu__popper {
  .el-menu-item,
  .el-submenu__title {
    &:hover {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
}

.temp-sidebar-menu {
  width: 100%;
  opacity: 1 !important;
  transition: none !important;

  .el-menu {
    border: none;
  }

  .temp-sidebar-menu__submenu {
    .el-submenu__title {
      &:hover {
        background-color: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }

  .temp-sidebar-menu__item {
    &:hover {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }

  .el-submenu {
    .el-menu {
      background-color: #1f2d3d !important;
    }

    .el-menu-item {
      background-color: #1f2d3d !important;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
}

.temp-sidebar {
  width: $temp-sidebar-width;
  height: 100%;
  position: relative;

  &.temp-sidebar--collapse {
    width: $temp-sidebar-width--collapse;

    .el-menu--collapse {
      width: $temp-sidebar-width--collapse;

      .el-submenu,
      .el-menu-item {
        padding: 0 !important;
        position: relative !important;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2) !important;
        }

        >div {
          text-align: center;
          padding: 0 !important;
        }
      }

      .el-submenu__title {
        &:hover {
          background-color: rgba(0, 0, 0, 0.2) !important;
        }
      }
    }
  }

  &__body {
    overflow: scroll;
    overflow-x: hidden;
    background-color: $temp-sidebar-body-background-color;
    position: absolute;
    width: 100%;
    top: $temp-sidebar-header-height;
    bottom: $temp-sidebar-footer-height;
  }

  &__header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    font-size: $font_medium_s;
    text-align: center;
    color: $temp-sidebar-header-font-color;
    background-color: $temp-sidebar-header-background-color;
    height: $temp-sidebar-header-height;
    line-height: $temp-sidebar-header-height;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__footer {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: $font_large;
    line-height: $temp-sidebar-footer-height;
    height: $temp-sidebar-footer-height;
    color: $temp-sidebar-footer-font-color;
    background-color: $temp-sidebar-footer-background-color;
  }
}
