.temp-layout {
  position: relative;
  height: 100%;

  &__left {
    width: 200px;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
  }

  &__right {
    position: relative;
    margin-left: 200px;
    transition: all 0.3s;
  }

  &--collapse {
    .temp-layout__left {
      width: 50px;
    }

    .temp-layout__right {
      margin-left: 50px;
    }
  }
}
