/****  头部颜色定义  ****/
// 头部背景色
$--header-background-color--default: #fff;
$--header-background-color--blue: #409eff;
$--header-background-color--dark: #465161;
$--header-background-color--official: #f04e23;
$--header-background-color--green: #17b3a3;

// 头部为文字颜色
$--header-font-color--white: #fff;
$--header-font-color--black: #4d5259;

// 头部活动区域背景色
$--header-active-background-color--default: rgba(255, 255, 255, 0.075);
$--header-active-background-color--blue: #409eff;

/****  侧边栏颜色定义  ****/
// 侧边栏背景色
$--aside-background-color--default: #fff;
$--aside-background-color--blue: #409eff;
$--aside-background-color--dark: #465161;
$--aside-background-color--official: #f04e23;
$--aside-background-color--green: #17b3a3;

// 侧边栏活动区域背景色
$--aside-active-background-color--default: rgba(255, 255, 255, 0.075);
$--aside-active-background-color--blue: #409eff;

// 侧边栏文字颜色
$--aside-font-color--white: #fff;
$--aside-font-color--black: #4d5259;
